html,
body {
    overscroll-behavior-x: none;
    -webkit-tap-highlight-color: transparent; /* for removing the highlight on Android */
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    position: relative;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    display: flex;
    min-height: 100vh;
}
#__next {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}
*:not(input):not(textarea) {
    // Prevent text selection
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    // Hide scroll bar
    scrollbar-width: none;
    ::-webkit-scrollbar {
        display: none;
    }
}
#slide-menu {
    .MuiDrawer-paper {
        width: 90%;
        max-width: 32rem;
        background-color: #353353;
    }
}
.button {
    cursor: pointer;
    &:active {
        opacity: 0.8;
    }
}
