html,
body {
    overscroll-behavior-x: none;
    -webkit-tap-highlight-color: transparent; /* for removing the highlight on Android */
}
html {
    font-size: 62.5%;
}
body {
    position: relative;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}
#__next {
    max-width: 1280px;
    margin: 0 auto;
}
*:not(input):not(textarea) {
    // Prevent text selection
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    // Hide scroll bar
    scrollbar-width: none;
    ::-webkit-scrollbar {
        display: none;
    }
}
