:root {
    // Ststic color
    // Text color
    --light-text: #f1f1f1;
    --dark-text: #2c2b3b;
}
body {
    --main-color: #418663;
    --primary-color: #2b2a2a;

    // Background color
    --main-bg: #f1efef;
    --primary-bg: #f1f1f3;
    --progress-bg: #cfcfcf;
    --avatar-bg: rgb(121, 121, 121);

    // Text color
    --primary-text: #2c2b3b;
    --secondary-text: #4b4a4a;
    --gray-text: #9e9e9e;
    --light-gray-text: #7b7a91;
    --active-text: #a73359;

    // Border color
    --primary-border: #726b6b;
    --shadow-border: rgba(0, 0, 0, 0.1);
}
body.dark {
    --main-color: #418663;
    --primary-color: #f1f1f1;

    // Background color
    --main-bg: #2b2c2c;
    --primary-bg: #353535;
    --progress-bg: #cecece;
    --avatar-bg: rgb(121, 121, 121);

    // Text color
    --primary-text: #f1f1f1;
    --secondary-text: #dfdfdf;
    --gray-text: #9e9e9e;
    --light-gray-text: #acabbb;
    --active-text: #ffd15c;

    // Border color
    --primary-border: #b8b8b8;
    --shadow-border: rgba(0, 0, 0, 0.1);

    // svg filter
    --dot-bg: invert(99%) sepia(5%) saturate(293%) hue-rotate(285deg) brightness(113%) contrast(89%);
}
