:root {
    --main-color: #1c8a53;
    --primary-color: #ffffff;
    
    // Background color
    --primary-bg: #ffffff;

    // Text color
    --primary-text: #1a1a1a;
    --secondary-text: #666666;

    // Border color
    --primary-border: #726b6b;
}
