@use "sass:math";
.flex {
    display: flex !important;
}
.flex-col {
    flex-flow: column wrap !important;
}
.flex-row {
    flex-flow: row wrap !important;
}
.flex-spread {
    flex-grow: 1 !important;
}
.flex-static {
    flex-shrink: 0 !important;
}
.justify-content-center {
    justify-content: center !important;
}
.justify-content-space-around {
    justify-content: space-around !important;
}
.justify-content-space-between {
    justify-content: space-between !important;
}
.align-items-center {
    align-items: center !important;
}
.align-items-flex-start {
    align-items: flex-start !important;
}
.align-items-flex-end {
    align-items: flex-end !important;
}
.width-full {
    width: 100% !important;
}
.border-radius {
    border-radius: 0.3rem !important;
}
.text-nowrap {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
@for $i from 1 through 5 {
    .ml-#{$i} {
        margin-left: #{math.div($i, 2)}rem !important;
    }
    .mr-#{$i} {
        margin-right: #{math.div($i, 2)}rem !important;
    }
    .mt-#{$i} {
        margin-top: #{math.div($i, 2)}rem !important;
    }
    .mb-#{$i} {
        margin-bottom: #{math.div($i, 2)}rem !important;
    }
    .m-#{$i} {
        margin: #{math.div($i, 2)}rem !important;
    }
    .p-#{$i} {
        padding: #{math.div($i, 2)}rem !important;
    }
}
