@use "sass:math";
.flex {
    display: flex !important;
}
.flex-col {
    flex-flow: column wrap !important;
}
.flex-row {
    flex-flow: row wrap !important;
}
.align-items-center {
    align-items: center !important;
}
.width-full {
    width: 100% !important;
}
.border-radius {
    border-radius: 0.3rem !important;
}
.text-nowrap {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.text-center {
    text-align: center !important;
}
.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.relative {
    position: relative !important;
}
.cursor-pointer {
    cursor: pointer;
    &:active {
        opacity: 0.7;
    }
}
@for $i from 0 through 10 {
    .ml-#{$i} {
        margin-left: #{math.div($i, 2)}rem !important;
    }
    .mr-#{$i} {
        margin-right: #{math.div($i, 2)}rem !important;
    }
    .mt-#{$i} {
        margin-top: #{math.div($i, 2)}rem !important;
    }
    .mb-#{$i} {
        margin-bottom: #{math.div($i, 2)}rem !important;
    }
    .m-#{$i} {
        margin: #{math.div($i, 2)}rem !important;
    }
    .p-#{$i} {
        padding: #{math.div($i, 2)}rem !important;
    }
}
//
.list-inline {
    padding-left: 0;
    list-style: none;
}
.list-inline-item {
    display: inline-block;
}
.list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
}
